/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: hsl(216deg, 12%, 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: linear-gradient(to bottom, hsl(213deg, 19%, 18%), hsl(207deg, 17%, 12%));
  width: 375px;
  height: 375px;
  padding: 30px;
  border-radius: 20px;
  @import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap");
}
.container .normalState .logo {
  margin: 10px 0;
}
.container .normalState .logo img {
  background-color: hsla(0deg, 0%, 99%, 0.044);
  border-radius: 50%;
  padding: 10px;
}
.container section {
  color: hsl(0deg, 0%, 100%);
  font-family: "Changa", sans-serif;
}
.container section h1 {
  font-weight: 400;
  margin-top: 20px;
}
.container section p {
  font-size: 15px;
  color: hsl(217deg, 12%, 63%);
  margin: 10px 0;
}
.container .ratingButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}
.container .ratingButtons button {
  background-color: hsl(213deg, 19%, 18%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  color: hsl(216deg, 12%, 54%);
  cursor: pointer;
}
.container .submit {
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  border: 0;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(25deg, 97%, 53%);
  font-family: "Changa", sans-serif;
  padding: 5px 0;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */