@import '../res/colors';
@import '../res/fonts';
@import '../res/typo';

.ratingButtons{
   display: flex;
   justify-content: center;
   gap: 20px;
   align-items: center;
   margin: 20px 0;
   button{
      background-color: $DarkBlue;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 0;
      color: $MediumGrey;
      font-family: $font;
      cursor: pointer;
      &:hover{
         background-color: $Orange;
         color: $White;
      }
   }
   .marked{
      background-color: $LightGrey;
      outline: none;
      color: white;
   }
}
.submit{
   width: 100%;
   margin-top: 20px;
   border-radius: 15px;
   border: 0;
   color: $White;
   background-color: $Orange;
   font-family: $font;
   padding: 5px 0;
   cursor: pointer;
   &:hover{
      background-color: $White;
      color: $Orange;
   }
}