@import '../res/colors';
@import '../res/fonts';
@import '../res/typo';

.container{
   background-image: linear-gradient(
      to bottom,
      hsl(213, 19%, 18%),
      hsl(207, 17%, 12%)
    );
   width: 400px;
   height: 400px;
   padding: 20px;
   border-radius: 20px;
   @import '../layout/_logo';
   // #252d37
}