@import '../res/colors';
@import '../res/fonts';
@import '../res/typo';


section, .txt{
   color: $White;
   font-family: $font;
   h1{
      font-weight: $slim;
      margin-top: 20px;
   }
   p{
      font-size: $paragraphSize;
      color: $LightGrey;
      margin: 10px 0;
   }
}
.TyState{
   .txt{
      h1,p{
         text-align: center;
      }

   }
}

.info{
      background-color: $DarkBlue;
      padding: 5px 15px;
      margin: 20px auto;
      width: fit-content;
      border-radius: 20px;
      border: 0;
      color: $Orange;
      font-family: $font;
}